<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .email-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f7f7f7;
      font-family: Arial, sans-serif;
      color: #333;
      border: 1px solid #e2e2e2;
      border-radius: 8px;
    }
    .email-container h1 {
      font-size: 24px;
      margin-bottom: 16px;
      color: #1e293b;
    }
    .email-container p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    .email-container a {
      display: inline-block;
      padding: 12px 24px;
      background-color: #f97316;
      color: #faf1dc;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
    }
    .email-container a:hover {
      background-color: #ea580c;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <h1>Bonjour !</h1>

    <p>Votre enfant n'a pas été retenu dans notre école nous somme désolé </p>

  
    <p>Cordialement !</p>
  </div>
</body>
</html>
