@use "tailwindcss";
@source not "../../public";

@theme {
  --breakpoint-sm: 476px;
  --breakpoint-md: 1150px;
}

body {
    /*background-color: lightgrey;*/
}



.migraine{
  display: none;
  @media (min-width: 1150px) {
    display: block;
  }

}